@font-face {
    font-family: "Montserrat Regular";
    src: url("Montserrat-Regular.ttf");
   }
@font-face {
    font-family: "Montserrat Bold";
    src: url("Montserrat-Bold.ttf");
   }
   @font-face {
    font-family: "Montserrat Italic";
    src: url("Montserrat-Italic.ttf");
   }
@font-face {
    font-family: "Montserrat Medium";
    src: url("Montserrat-Medium.ttf");
   }
@font-face {
    font-family: "Playfair Display Regular";
    src: url("PlayfairDisplay-Regular.ttf");
   }
body {
    /* height: 100%; */
    font-family: "Montserrat Regular";
    font-size: 15pt;
    /* font-size: 18pt; */
    line-height: 1.2; 
}
a:hover{
    text-decoration:none;
}
.container-fluid{
    padding-left:0px !important;
    padding-right:0px !important;
}
h1{
    font-family: "Playfair Display Regular";
     font-size: 30pt; 
    /* font-size: 38pt; */
}
h2{
    font-family: "Playfair Display Regular";
    font-size: 25pt;
    /* font-size: 28pt; */
}
h3{
    font-family: "Playfair Display Regular";
    font-size: 35pt;
    /* font-size: 55pt; */
}
/* carousel-caption */
.homecarouselcaption{
    position:absolute;
    right:15%;
    top:150px;
    left:15%;
    z-index:10;
    padding-top:20px;
    padding-bottom:20px;
    color:#fff;
    text-align:center;
}
.smallcarouselcaption{
    position:absolute;
    right:15%;
    top:200px;
    left:15%;
    z-index:10;
    padding-top:20px;
    padding-bottom:20px;
    color:#fff;
    text-align:center;
    height:150px;
}
.productcarouselcaption{
    position:absolute;
    right:15%;
    top:300px;
    left:15%;
    z-index:10;
    padding-top:20px;
    padding-bottom:20px;
    color:#fff;
    text-align:center;
}

/* overlay effect */
.product1
{
    position: relative;
}

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50px;
    right: 0;
    height: 100%;
    width: 70%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .product1:hover .overlay {
    opacity: 1;
  }
  
  .overlayheading {
    color: white;
    /* font-size: 20px; */
    position: absolute;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .overlaybutton {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 75%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
/* navbar */
.nav-link{
    font-family:"Montserrat Medium";
    font-size:15pt;
    /* font-size:18pt; */

}
.nav-link:hover{
    text-decoration: underline;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }
/* table */
.table thead th{
    border-bottom: none;
}
.table td{
    border-top: none;
}
.table th{
    border-top: none;
}
/* footer */

.footer-text
{
    padding: 1rem 0.5rem; 
}
.footer-navigation ul {
    padding: 0;
    margin: 0;
    float: right;
}
.footer-navigation li {
    display: inline-block;
    padding: 1rem 0.5rem;
}
.footer-navigation li a {
    color: white;
    border-right: white 1px solid;
    padding-right:20px;
   
}
.footer-navigation li:last-child a {
   
    padding-right:0px;
    border-right: none;
   
}

/* margins */
.m-10
{
    margin-bottom:10px;
}
.m-20
{
    margin-bottom:20px;
}
.m-30
{
    margin-bottom:30px;
}

.m-50
{
    margin-bottom:50px;
}

/* colors */

.bg-gray
{
    background-color:#D3D3D3;
}
/*--*/
.bg-linkwater
{
    background-color:#d0d1d2;
}
.bg-aliceblue
{
    background-color: #e9f1f8;
}
.bg-vividorange
{
    background-color: #f18d0a; 
}
.color-black{
    color:black;
}
/*--*/
.color-white
{
    color:#ffffff;
}
.color-vividorange
{
    color: #f18d0a; 
}
.color-darkgray
{
    color: #343434;

}


@media(max-width:991.98px)
{
    /* footer */
    .footer-navigation {
        align-content: center;
    }
    .footer-navigation ul {
        float:none;
    }
}
@media (max-width: 992px) {
    nav.bg-darkblue {
        padding: 0;
    }

    .navbar .navbar-toggler {
        border-color: rgb(42, 90, 225);
    }
    .navbar-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(42,90,225, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
}

@media (max-width: 769px)
{
    body{
        font-size: 20pt;
    }
    .smallcarouselcaption{
        position:absolute;
        right:15%;
        top:80px;
        left:15%;
        z-index:10;
        padding-top:20px;
        padding-bottom:20px;
        color:#fff;
        text-align:center;
        height:150px;
    }
    
}
@media (max-width: 575.98px)
{
     body{
        font-size: 20pt;
    } 
    .smallcarouselcaption{
        position:absolute;
        right:15%;
        top:20px;
        left:15%;
        z-index:10;
        padding-top:20px;
        padding-bottom:20px;
        color:#fff;
        text-align:center;
        height:80px;
    }
    
}

