@font-face {
	font-family: "Montserrat Regular";
	src: url("fonts/Montserrat-Regular.ttf");
}
@font-face {
	font-family: "Montserrat Bold";
	src: url("fonts/Montserrat-Bold.ttf");
}
@font-face {
	font-family: "Playfair Display Regular";
	src: url("fonts/PlayfairDisplay-Regular.ttf");
}



body {
	font-family: "Montserrat Regular";
	font-size: 16px;
	line-height: 32px;
}

/*----- containers --------*/
.container-fluid {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.img-fluid {
	width:100%;
}

/*---------------------------*/
/*          COLORS           */
/*---------------------------*/

.bg-gray {
	background-color: #D3D3D3;
}
.bg-linkwater {
	background-color: #d0d1d2;
}
.bg-aliceblue {
	background-color: #e9f1f8;
}
.bg-orange {
	background-color: #f18d0a;
}
.color-black {
	color: black;
}
.color-white {
	color: #ffffff;
}
.color-orange {
	color: #f18d0a;
}
.color-red {
	color: #ff0000;
}
.color-lightgray {
	color: #e0e0e0;
}
.color-darkgray {
	color: #999999;
}

/*---------------------------*/
/*          FONTS            */
/*---------------------------*/

h1 {
	font-family: "Playfair Display Regular";
	font-size: 55pt;
	width: max-content;
}
h2 {
	font-family: "Playfair Display Regular";
	font-size: 30pt;
	color: #888888;
}
h3 {
	font-family: "Playfair Display Regular";
	font-size: 16pt;
	color: #888888;
}
h4  {
	font-size: 12pt;
	line-height:16pt;
}
h5 {
	font-family: "Playfair Display Regular";
	font-size: 16pt;
}
h6 {
	font-family: "Playfair Display Regular";
	font-size: 18pt;
}
.footer {
	font-size: 10pt;
	color: #ffffff;
}
a:hover {
	text-decoration: none;
}
.homecarousel-subtitle{
	border-bottom: 1px solid #f18d0a;
	border-top: 1px solid #f18d0a;
	padding: 10px 0px;
	width: max-content;
}
.homecarousel-box {
position: relative;
width: max-content;
display: block;
min-height: 100pt;
}
.homecarousel-box img {
    position: absolute;
    top: 70spt;
    right: 0px;
}
.button-overlay {
	font-size: 10pt;
}


/*---------------------------*/
/*       NAV BAR            */
/*---------------------------*/

.nav-link {
	font-family: "Montserrat Regular";
	font-size: 15px;
	text-transform:uppercase;
	color:#666;
}
.nav-link:hover {
	text-decoration: underline;
	color: #F00;
}
.carousel-indicators li {
	width: 10px;
	height: 10px;
	border-radius: 100%;
}
@media (min-width: 992px) {
	.subproducts1
{
	display:none;
}
}
@media (max-width: 992px) {
nav.bg-darkblue {
	padding: 0;
}
.navbar .navbar-toggler {
	border-color: rgb(42, 90, 225);
}
.navbar-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(42,90,225, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.subproducts
{
	display:none;
}
}
@media (min-width: 769px) {
	.logo{
		display:none;
		}
	}

/*---------------------------*/
/*       CAROUSEL            */
/*---------------------------*/

.homecarouselcaption {
	position: absolute;
	right: 15%;
	top: 150px;
	left: 15%;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	text-align: left;
}
.smallcarouselcaption {
	position: absolute;
	right: 15%;
	top: 250px;
	left: 15%;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	text-align: center;
	height: 150px;
}
.productcarouselcaption {
	position: absolute;
	left: 50%;
	top: 200px;
	z-index: 10;
	padding-top: 20px;
	text-align: left;
	color: #000;
}


/*---------------------------*/
/*       PRODUCT BOX         */
/*---------------------------*/

.product-box {
	position: relative;
}
.overlay {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	bottom: 0;
	left: 50px;
	width: 70%;
	opacity: 0;
	transition: .5s ease;
	background-color: #008CBA;
}
.product-box:hover .overlay {
	opacity: 1;
}
.overlayheading {
	color: white;
	position: absolute;
	top: 25%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}
.overlaytext {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.overlaybutton {
	color: FFF;
	border-color:#fff !important;
	font-size: 20px;
	position: absolute;
	top: 75%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

/*---------------------------*/
/*          TABLE            */
/*---------------------------*/

.table thead th {
	border-bottom: none;
}
.table td {
	border-top: none;
}
.table th {
	border-top: none;
}


/*---------------------------*/
/*          FOOTER           */
/*---------------------------*/

.footer-text {
	padding: 1rem 0.5rem;
}
.footer-navigation ul {
	padding: 0;
	margin: 0;
	float: right;
}
.footer-navigation li {
	display: inline-block;
	padding: 1rem 0.5rem;
}
.footer-navigation li a {
	color: white;
	border-right: white 1px solid;
	padding-right: 20px;
}
.footer-navigation li:last-child a {
	padding-right: 0px;
	border-right: none;
}
@media(max-width:991.98px) {

.footer-navigation {
	align-content: center;
}
.footer-navigation ul {
	float: none;
}
}


 @media (max-width: 769px) {
body {
	font-size: 20pt;
}
.logo{
	display:block;
	margin:auto;
}
.smallcarouselcaption {
	position: absolute;
	right: 15%;
	top: 80px;
	left: 15%;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	text-align: center;
	height: 150px;
}
}
@media (max-width: 575.98px) {
body {
	font-size: 20pt;
}
.smallcarouselcaption {
	position: absolute;
	right: 15%;
	top: 20px;
	left: 15%;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	text-align: center;
	height: 80px;
}
}

#products {
	position: absolute !important;
	z-index: 100;
	background: white;
	width: 100%;
	left: 0;
	right: 0;
}
#products .product-box {
	width: 19.7%;
	text-align: center;
}